<p id="notice"><%= notice %></p>

<div class="col-md-10">


<h1>Students</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
    <tr class="table-active">
       <th scope="row"></th>
        <td ><%= student.name %></td>
        <td><%= student.age %></td>
        <td> <button type="button" class="btn btn-primary"><%= link_to 'Show', student %></button></td>
        <td><button type="button" class="btn btn-success"><%= link_to 'Edit', edit_student_path(student) %></button></td>
        <td><button type="button" class="btn btn-danger"><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New Student', new_student_path %>
